@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

.intro-image {
    max-width: 75%;
}

nav {
    background-color: #fff;
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px 30px 100px;
    margin: auto
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: #1d1d24;
    position: relative;
    padding: 5px 0;
}

nav ul li a:hover {
    color: #274472
}

nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #274472;
    transition: 0.3s;
    bottom: 0;
}

nav ul li a:hover:after {
    width: 100%;
}

.btn {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    background-size: 152% 100%;
    background: #274472;
    border: 2px solid #274472;
}

.btn:hover {
    background: transparent;
    border-color: #274472;
    color: #274472;
}

.content {
    width: 100%;
    padding: 10% 5% 0% 5%;
}

.intro {
    width: 70%;
    display: inline-block;
    box-sizing: border-box;
}

.intro-image-div {
    width: 25%;
    display: inline-block;
    box-sizing: border-box;
}

.intro-image {
    max-width: 100%;
}

.footer-content {
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 30px 100px 30px 100px;
    margin: auto
}

.footer {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 5% 10% 5% 10%;
}

.email {
    color: #274472;
}

#contacts1 {
    display: inline-block;
}

.header-title {
    align-self: center;
    align-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    text-align: center;
}

.footer-content {
    width: 100%;
}

.content .title {
    color: #0a0a0a;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    background: linear-gradient(120deg,

            #274472 20.69%,

            #41729F 50.19%,

            #5885AF79.69%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content h1 {
    color: #1f1f25;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
}

.content h1 span {
    color: #274472;
}

.content p {
    width: 55%;
    color: #202020;
    margin-top: 25px;
    margin-bottom: 30px;
}

.skills {
    width: 100%;
    padding: 0% 5% 0% 5%;
}

.skill {
    width: 33%;
    padding: 20px;
    display: inline-block;
    box-sizing: border-box;
    background:
        #bfdefc;
}

.skill:hover {
    box-shadow: 5px 3px 30px #41729F;
}

.experience {
    width: 49%;
    padding: 20px;
    display: inline-block;
    box-sizing: border-box;
    background:
        #bfdefc;
}

.experience:hover {
    box-shadow: 5px 3px 30px #41729F;
}

.skill-title {
    align-items: center;
    align-content: center;
    padding: 20px;
    background:
        #41729F;
    color: #fff;
    border-width: 0.3em;
    border-style: solid;
    border-color: #fff;
}

.skill-text {
    padding-top: 10px;
}

blockquote {
    margin: 3.7em auto;
    padding: 2em;
    background: linear-gradient(white, white) padding-box;
    border: 2em solid transparent;
    box-shadow: 5px 3px 30px #41729F;
    font-size: 1.4em;
    font-family: "Lora", serif;
    font-style: italic;
    line-height: 1.5;
    width: 40%;
}

footer {
    padding-top: 1.3em;
}

cite {
    font-style: normal;
    font-size: 1.2em;
    font-weight: bold;
}

@import url(https://fonts.googleapis.com/css?family=Lora);